.about{
  float: right;
  width: 450px;
}

.panel-title {
  font-size: 30px;
}

.special {
  font-size: 15px;
  text-decoration: underline;
}

.pic {
  margin: 3px;
  border: 8px solid #bce8f1;
  padding: 2px;
}
